.os{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    .tooltiptext {
        visibility: hidden;
        width: 200px;
        background-color: black;
        color: #fff;
        text-align: center;
        font-size:0.75rem;
        padding: 5px 0;
        border-radius: 6px;

        /* Position the tooltip text - see examples below! */
        position: absolute;
        z-index: 1;
        @extend .os;
    }
    &:hover .tooltiptext{
        visibility: visible;
    }
}

