@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400';
.os{
	font-family: 'Open Sans', sans-serif;
}

body,html{
	margin:0;
	min-height:100vh;
	@extend .os;
}
.top-bar{
	display:flex;
	align-items:center;
	.logo{
		padding:1rem 2rem;
		// @extend .os;
	}
	.header-center{
		padding-left:2rem;
		text-transform:uppercase;
		font-weight:300;
	}
	.account{
		margin-left:auto;
		a{
			display:block;
			padding: 1rem 1.5rem;
		}
	}
}
.course-navigation{
	display:flex;
	justify-content:center;
	list-style:none;
	padding:1rem;
	.course-link{
		border-radius: .5rem;
		padding: 0 .5rem;
		transition: background-color 0.3s ease-in-out;
		a{
			display:flex;
			flex-direction:column;
			align-items:center;
			padding:1rem;
			text-decoration: none;
		}
	}
}
.main{
	color:white;
	.status{
		display:flex;
		align-items: center;
		justify-content: space-around;
		padding: 1rem 0;
		.status-circle{
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			.status-message{
				margin-bottom:0;
				font-weight:300;
			}
			.circle{
				width:5rem;
				height:5rem;
				display:flex;
				justify-content: center;
				align-items:center;
				border-radius:50%;
				.icon{
					&.ion-ios-bolt{

					}
					&.ion-ios-checkmark-empty{
						font-size: 3rem;
					}
				}
			}
		}
	}
	.teachassist{
		font-size:5rem;
		font-weight:300;
	}
}
#assignments{
	.table-header{
		
	}
	.list{
		list-style:none;
		li{
			p{
				display:inline-block;
			}
		}
	}	
}