$black: #1f1f1f;
$highlight: #080808;
$blue: #3498db;
$orange: #e67e22;
$hr: 1px solid rgba(0,0,0,.1);
body{
	background-color: #535766;
}
.top-bar{
	background-color: $black;
	// box-shadow: 0 0 2px rgba($blue, 0.5);
	.logo{
		color:white;
		background-color: $blue; 
	}
	.header-center{
		color:white;
	}
	.account{
	 	background-color:$orange;
		.icon{
			color:white;
		}
	}
}
.course-navigation{
	border-bottom: $hr;
	.course-link{
		&.active{
			background-color:$black;
		}
		&:not(.active):hover{
			background-color:rgba($black, .1);
		}
		a{
			color:white;
		}
	}
}
.main{
	.status{
		border-bottom: $hr;
		.status-circle{
			.circle{
				color:white;
				&.ok{
					background-color: #2ecc71;
				}
				&.nok{
					background-color: #e74c3c;
				}
			}
		}
	}
}