$black: #1B2227;
$grey: #21292F;
$text: #475661;
$blue: #5CACE0;
$orange: #e67e22;
$lwhite: #F3F3F3;
$active: #273037;
$hr: 1px solid rgba(0,0,0,.1);

@import 'chartist-settings';

body{
	background-color: $lwhite;
}
.top-bar{
	background-color: white;
	box-shadow: 0 0 2px rgba(black, 0.1);
	.logo{
		background-color: $black; 
		.teach{
			color: $text;
		}
		.assist{
			color: $blue;
		}
	}
	.header-center{
		color: $text;
	}
	.account{
		border: 1px solid $blue;
		background-color:$blue;
		.icon{
			color: white;
		}
	}
}
.course-navigation{
	border-bottom: $hr;
	background-color: $grey;
	.nav-header{
		color: $text;
	}
	.course-link{
		&.active{
			background-color:$active;
			a{
				color: white;
			}
		}
		&:not(.active):hover{
			background-color:rgba($active, .5);
			a{
				color:darken(white, 25%);
			}
		}
		a{
			color:$text;
		}
	}
}
.main{
	color:$text;
	.module{
		background-color: white;
		box-shadow: 2px 2px 4px  darken(white, 10%); 
		.module-header{
			border-bottom: $hr;
		}
	}
	.status{
		// border-bottom: $hr;
		.status-circle{
			.circle{
				color:white;
				&.ok{
					background-color: #2ecc71;
				}
				&.nok{
					background-color: #e74c3c;
				}
			}
		}
	}
}
#assignments{
	.module-header{
		border-bottom:none;
		.search{
			border-top:none;
			border-right:none;
			border-left:none;
			border-bottom: 1px solid darken($lwhite, 25%);
			color:darken($lwhite, 25%);
			&:hover{ 
				color: darken($lwhite, 50%);
			}
			&:active, &:focus{
				color: darken($lwhite, 50%);
				box-shadow: 0px 2px 2px -2px $blue;
			}
		}
	}
	.table-header{
		border-bottom: 1px solid $lwhite;
		border-top: 1px solid $lwhite;
		.sort{
			color: darken($lwhite, 40%);
		}
		.sort-header{
			border-bottom:1px solid $lwhite;
			border-top:1px solid $lwhite;	
		}
	}
	.list{
		.assignment:nth-child(even){
			background-color: $lwhite;
		}
		.category .weight{
			color:white;
		}
		.cat-ku .weight{
			background-color: #f39c12;
		}
		.cat-ti .weight{
			background-color: #2ecc71;
		}
		.cat-comm .weight{
			background-color: #9b59b6;
		}
		.cat-app .weight{
			background-color: #e67e22;
		}
		.cat-final .weight{
			background-color: #34495e;
		}
	}
}