$black: #1f1f1f;
$highlight: #080808;
$blue:#3498db;
body{
	background-color: #333;
}
.top-bar{
	background-color: $black;
	.logo{
		color:white;
		background-color: $blue; 
	}
	.header-center{

	}
	.account{

	}
}
.main{
	.status{
		.status-circle{
			.circle{
				color:white;
				&.ok{
					background-color: #2ecc71;
				}
				&.nok{
					background-color: #e74c3c;
				}
			}
		}
	}
}